@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
@layer components {
	.button-link {
		@apply bg-landscape-700 px-2 py-2 md:px-4 md:py-3 shadow-lg shadow-dark/20 text-xl lg:text-2xl text-center text-white rounded-full cursor-pointer ;
	}
	.description {
		@apply sm:text-justify text-gray-700 text-opacity-80  text-sm p-4 md:text-lg tracking-wide font-long;
	}

	.jap-section-content {
		@apply text-base xl:text-lg md:leading-8 leading-7  ;
	}
	.jap-section-heading {
		@apply text-xl lg:text-2xl font-logo text-end text-landscape-700;
	}
	
}
